@import "vendor/nouislider";

.slider {
    margin: 20px 15px;
}
form .control-label {
    position: static;
    width: auto;
    height: auto;
    padding: auto;
    margin: auto;
    overflow: auto;
    clip: auto;
    border: 0;
}
.price-sidebar {
    position: sticky;
    top: 100px;
    font-size: 0.85em;
}
.show-second-fixation,
.hide-second-fixation {
    cursor: pointer;
}